@model List<MVC.Models.VehicleMakeVM>

<h1>Vehicle Makes</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<br />



<br />
<a asp-controller="VehicleMake" asp-action="Create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Abrv)</a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var make in Model)
        {
            <tr>
                <td>@make.Id</td>
                <td>@make.Name</td>
                <td>@make.Abrv</td>
                <td>


                    <a asp-controller="VehicleMake" asp-action="Edit" asp-route-id="@make.Id">Edit</a>


                    <form asp-controller="VehicleMake" asp-action="Delete" asp-route-id="@make.Id" method="post" onsubmit="return confirm('You sure?')">
                        <button type="submit">Delete</button>
                    </form>
                    @*<a asp-controller="VehicleMake" asp-action="Delete" asp-route-id="@make.Id" >Delete</a> ***** ne radi bez submita *@

                </td>
            </tr>
        }
    </tbody>
</table>
