@using MVC;
@model PaginatedList<VehicleModelVM>

<h1>Vehicles Index page</h1>
<h5>Filter by make only. For other actions, visit Admin views.</h5>
<br />
<br />

@using (Html.BeginForm("Index1", "VehicleModel", FormMethod.Get))
{
    <div class="form-group">
        <label for="MakeName">Filter by Make Name:</label>
        <input type="text" name="MakeName" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Filter</button>

}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Make</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var mody in Model)
        {
            <tr>
                <td>@mody.Id</td>
                <td>@mody.Name</td>
                <td>@mody.Abrv</td>
                <td>@mody.MakeName</td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}
<a asp-action="Index1" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index1" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
    Next
</a>